.main-bckg {
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(196,196,196,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(196,196,196,1);
	box-shadow: 0px 0px 3px 0px rgba(196,196,196,1);
	border-radius: 3px;
}