.btn {
	color: #000000;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	background: transparent;
	padding: 10px 25px;
	border: 1px solid #d0dce7;
	color: #98a0a8;
	text-transform: capitalize;
}
.btn--lg {
	@extend .btn;
	width: 100%;
	height: 45px;
}
.btn--primary {
	@extend .btn; 
	background: $main-color;
	border: 1px solid $main-color;
	color: #ffffff;
	text-transform: uppercase;

}
.btn--transparent {
	@extend .btn;
	background: transparent;
	border: 1px solid $main-color;
	color: $main-color;
	text-transform: uppercase;
}