.input-container {
	position: relative;
	margin: 15px 0;
	height: 55px;
	font-size: 18px;
}

.input {
	height: 30px;
	color: #53585c;
	font-size: 18px;
}

.input--focus {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #d0dce7;
	width: 100%;
	outline: none;
}

.input--focus + label {
	position: absolute;
	left: 0;
	pointer-events: none;
	-webkit-transition-duration: 0.2s;
	-webkit-timing-function: ease;
	-webkit-transition-property: all;
	transition: 0.2s ease all;
	top: 0;
	-ms-transform: translateY(5px) scale(1);
	-webkit-transform: translateY(5px) scale(1);
	transform: translateY(5px) scale(1);
	-webkit-transform-origin: left top;
	transform-origin: left top;
	color: #53585c;
}

.input--focus:focus + label,
.input--focus.active-input + label {
	-ms-transform: translateY(-12px) scale(0.75);
	-webkit-transform: translateY(-12px) scale(0.75);
	transform: translateY(-12px) scale(0.75);
	opacity: 1;
	color: #a6b0b7;
}

.form--edit {
	position: absolute;
	background: #ffffff;
	padding: 20px;
	z-index: 10;
	width: auto;
	border-radius: 3px;
	margin-left: -50px;
	top: -10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(161,161,161,1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(161,161,161,1);
	box-shadow: 0px 0px 30px 0px rgba(161,161,161,1);
	display: none;
	@include respond-to(sm) {
		position: relative;
		background: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		top: 0;
		margin-left: 0;
		padding: 0 0;
	}
	&:before {
		content: "";
		border-style: solid;
		border-width: 10px 15px 10px 0px;
		border-color: transparent #ffffff transparent transparent;
		position: absolute;
		left: -15px;
		top: 15px;
	}
	.btn {
		@include respond-to(sm) {
			display: none;
		}
	}
}

.form--popup {
	display: inline-block;
	.input-container {
		height: auto;
		margin: 0;
		.input--focus {
			display: block;
		}
	}
	.btn {
		margin-top: 20px;
		width: 120px;
		&:last-child {
			margin-left:20px;
		}
	}
}