.menu {
	padding: 0 20px 0 215px;
	margin-top: 20px;
	@include clearfix;
	@include respond-to(lap-tab) {
		padding: 0 20px;
	}
	@include respond-to(small) {
		padding: 0 20px;
	}
}
.menu__list {
	float: left;
	text-transform: uppercase;
	@include respond-to(sm) {
		white-space: nowrap;
		overflow-x: scroll;
		width: 100%;
	}
	li {
		float: left;
		padding: 22px 0;
		margin-right: 30px;
		cursor: pointer;
		@include respond-to(sm) {
			float: none;
			display: inline-block;
		}
	}
}