.rating {
	float: right;
	@include respond-to(sm) {
		margin-left: 195px;
		clear: both;
	}
	@include respond-to(sm) {
		width: 100%;
	}
}
.rating__stars {
	display: inline-block;
	vertical-align: middle;
	@include respond-to(sm) {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
}
.rating__reviews {
	display: inline-block;
	vertical-align: middle;
	@include respond-to(sm) {
		width: 100%;
		display: block;
	}
	span {
		margin: 0 15px;
		@include respond-to(sm) {
			margin-left: 0;
		}
	}
}



div.stars {
	display: inline-block;
}
input.star { display: none; }
label.star {
	float: right;
	font-size: 24px;
	margin-right: 8px;
	color: #727E88;
	transition: all .2s;
	&:first-child {
		margin-right: 0;
	}
	@include respond-to(sm) {
		color: $main-color;
	}
}
input.star:checked ~ label.star:before {
	content: '\f4b3';
	color: #727E88;
	transition: all .25s;
	@include respond-to(sm) {
		color: $main-color;
	}
}

label.star:before {
	content: '\f4b2';
	font-family: "Ionicons";
}

// input.star-5:checked ~ label.star:before {
// 	color: #FE7;
// 	text-shadow: 0 0 20px #952;
// }
// input.star-1:checked ~ label.star:before { color: #F62; }
// label.star:hover { transform: rotate(-15deg) scale(1.3); }