body {
	margin: 0 auto;
	padding: 0;
	font-family: $main-font;
	width: 100%;
}
#wrapper {
	margin: 0 auto;
	padding: 0;
}
.center {
	max-width: 1170px;
	@include clearfix;
	padding: 0 15px;
	margin: 0 auto;
	padding: 0 15px;
}
i {
	font-size: 25px;
	vertical-align: middle;
	margin-right: 15px;
}