.login-page {
	background-image: url('../img/fullscreen_bg_image.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center fixed;
	background-repeat: no-repeat;
	height: 100vh;
	@include respond-to(sm) {
		height: 100%;
		background: none;
	}
}
#login {
	position: relative;
	background: #ffffff;
	top: 12%;
	max-width: 505px;
	color: #333333;
	width: 100%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
	box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
	border-radius: 5px;
	@include respond-to(sm) {
		max-width: inherit;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: 100%;
		top: 0;
	}
	h1 {
		border-bottom: 1px solid #d0dce7;
		text-align: center;    
		margin: 0 50px 60px 50px;
		padding: 40px 0;
		@include respond-to(sm) {
			border-bottom: none;
		}
	}
	p {
		text-align: center;
		color: #a6b0b7;
		margin: 0 50px 30px 50px;
		@include respond-to(sm) {
			text-align: left;
		}
	}
	a {
		color: $main-color;
	}
	.input-container {
		margin: 15px 50px;
	}
	#login-btn {
		padding: 0 40px 40px 40px;
		width: 100%;
		@include respond-to(sm) {
			padding: 0;
			position: absolute;
			bottom: 0;
		}
	}
	.btn {
		font-weight: 600;
		@include respond-to(sm) {
			border-radius: 0;
		}
	}
}