#main-container {
	padding: 70px 0;
	background: #f5f8f9;
	@include respond-to(sm) {
		padding: 0;
	}
	.center {
		@include respond-to(sm) {
			padding: 0;
		}
	}
}

#header {
	position: relative;
	background: #ffffff;
	margin-bottom: 35px;
	@include respond-to(sm) {
		background: transparent;
	}
}

.profile-container {
	@include clearfix;
	padding: 20px 20px 0 20px;
}

.cover-upload {
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	@include respond-to(sm) {
		display: none;
	}
	.btn {
		i {
			color: #d0dce7;
			font-size: 35px;
		}
	}
}

.logout {
	margin-bottom: 20px;
	@include clearfix;
	.btn--transparent {
		float: right;
		padding: 10px 25px;
		font-weight: 600;
		@include respond-to(sm) {
			border: none;
			padding: 0;
		}
	}
}

.profile-picture-container {
	width: 170px;
	height: 170px;
	position: absolute;
	margin-top: -40px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(196,196,196,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(196,196,196,1);
	box-shadow: 0px 0px 15px 0px rgba(196,196,196,1);
	@include respond-to(sm) {
		position: relative;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.profile-picture {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;	
	}
}

.profile-container .about {
	margin-left: 195px;
	display: inline-block;
	@include respond-to(sm) {
		margin-left: 0;
		width: 100%;
		display: block;
		margin-bottom: 10px;
		.name {
			text-align: center;
		}
	}
}

.about__element {
	.name {
		margin-bottom: 15px;
	}
}

.follower {
	float: right;
	padding: 18px 0;
	color: #a6b0b7;
	@include respond-to(sm) {
		display: none;
	}
	span {
		color: $main-font-color;
		margin-right: 8px;
	}
}

.follower--mobile {
	display: none;
	@include respond-to(sm) {
		display: block;
		float: left;
	}
}

.content-container {
	padding: 45px 35px;
	@include clearfix;
	@include respond-to(sm) {
		padding: 20px;
	}
	>section {
		@include clearfix;
	}
}

#settings {
	.input--focus {
		width: auto;
		@include respond-to(sm) {
			width: 100%;
		}
	}
}

.content__header {
	display: inline-block;
	font-size: 28px;
	color: #8a939b;
	margin-bottom: 35px;
}

.name {
	font-size: 24px;
	font-weight: 600;
}

.menu ul li.active{
	border-bottom: 3px solid #028dfe;
}

.tab-page {
	display: none;
}

.tab-page.active{
	display: block;
}

.about__element--sec {
	position: relative;
}

.about__element--container {
	display: inline-block;
	background: #f5f8f8;
	padding: 0px 0 0px 10px;
	margin-bottom: 3px;
	@include respond-to(sm) {
		background: transparent;
		padding: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	i {
		color: #a8b8c4;
		&.ion-edit {
			margin-right: 0;
			margin-left: 25px;
			background: #ecf1f5;
			padding: 10px 15px;
			font-size: 20px;
			color: #727e88;
			display: inline-block;
			@include respond-to(sm) {
				display: none;
			}
			&:hover {
				background: $main-color;
				color: #ffffff;
				cursor: pointer;
			}
		}
	}
	span {
		font-size: 18px;
	}
}

.service-type {
	margin: 20px 0 30px 0;
	color: #727E88;
	font-size: 20px;
	display: none;
	@include respond-to(sm) {
		display: block;
	}
}

.mobile-edit-ion {
	display: none;
	@include respond-to(sm) {
		display: block;
		margin: 0;
		background: #ecf1f5;
		padding: 10px 15px;
		font-size: 20px;
		color: #727e88;
		float: right;
	}
}

.save-mobile-changes {
	float: right;
	display: none;
	padding: 6px 0;
	.btn {
		border: none;
		background: transparent;
		color: $main-color;
		padding: 0;
		font-size: 16px;
		font-weight: bold;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
	}
}
.save-mobile-changes--default {
	@extend .save-mobile-changes;
	@include respond-to(sm) {
		display: block;
	}
}
#settings {
	.btn--primary {
		@include respond-to(sm) {
			display: none;
		}
	} 
}