@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin grid($qty, $margin) {
	width: ((100% - (($qty - 1) * $margin))/$qty);
	&:nth-child(n) {
		margin-right: $margin;
		margin-bottom: $margin;
	}
	&:nth-child(#{$qty}n) {
		margin-right: 0;
		margin-bottom: 0;
	}
}

@mixin respond-to($breakpoint) {
	@if $breakpoint == "small" {
		@media (max-width: 480px) {
			@content;
		}
	}

	@else if $breakpoint == "sm" {
		@media (max-width: 680px) {
			@content;
		}
	}

	@else if $breakpoint == "medium" {
		@media (max-width: 768px) {
			@content;
		}
	}

	@else if $breakpoint == "lap-tab" {
		@media (max-width: 896px) {
			@content;
		}
	}

	@else if $breakpoint == "laptop" {
		@media (max-width: 1024px) {
			@content;
		}
	}

	@else if $breakpoint == "large" {
		@media (max-width: 1200px) {
			@content;
		}
	}
}