
<script type="text/javascript">
  // Menu Tabs
  $('.menu ul li').click(function(){
    var tab_id = $(this).attr('data-tab');

    $('.menu ul li').removeClass('active');
    $('.tab-page').removeClass('active');

    $(this).addClass('active');
    $("#"+tab_id).addClass('active');
  });
//End of Menu Tabs
</script>
<section id="profile">
  <div class="profile-container">
    <form method="" action="login.html" class="logout">
      <input class="btn btn--transparent" type="submit" name="logout" value="Logout">
    </form>
    <div class="cover-upload">
      <button class="btn"><i class="icon ion-ios-camera"></i>Upload Cover Image</button>
    </div>
    <div class="profile-picture-container">
      <a href="">
        <div class="profile-picture" style="background-image: url('img/profile_image.jpg')"></div>
      </a>
    </div>
    <ul class="about">
      <li class="about__element">
        <h1 class="name">Jessica Parker</h1>
      </li>
      <li class="about__element"><i class="ion-ios-location-outline"></i><span>Newport Beach, CA</span></li>
      <li class="about__element"><i class="ion-ios-telephone-outline"></i><span>(949) 325 - 68594</span></li>
    </ul>


    <div class="rating">
      <div class="rating__stars">
        <div class="stars">
          <form action="">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" checked name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
          </form>
        </div>
      </div>
      <div class="rating__reviews"><span class="counter">6</span>Reviews</div>
    </div>

    <div class="follower follower--mobile"><i class="ion-ios-plus"></i><span>15</span>Followers</div>

  </div>

</section>
<section id="navigation-menu">
  <nav class="menu main-bckg">
    <ul class="menu__list">
      <li class="menu__link active" data-tab="tab-1">About</li>
      <li class="menu__link" data-tab="tab-2">Settings</li>
      <li class="menu__link" data-tab="tab-3">Option 1</li>
      <li class="menu__link" data-tab="tab-4">Option 2</li>
      <li class="menu__link" data-tab="tab-5">Option 3</li>
    </ul>
    <div class="follower"><i class="ion-ios-plus"></i><span>15</span>Followers</div>
  </nav>
</section>